@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  margin: 0;
}

.page-container {
  background: #1C1B21;
  height: 100vh;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.logo__wrapper, .header__menu {
  gap: 25px;
  display: flex;
  align-items: center;
}

.logo__wrapper > img {
  width: 50px;
}

.header__menu > div {
  cursor: pointer;
  font-size: 14px;
}

.main, .search__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__banner {
  max-width: 180px;
  width: 100%;
}

.main__title {
  font-size: 24px;
  margin: 30px 0;
  width: 100%;
  max-width: 380px;
  text-align: center;
}

.datepicker {
  width: 100%;
  max-width: 620px;
  height: 240px;
  background-color: #131313;
  border-radius: 4px;
}

.datepicker__month {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px 20px;
  }

.datepicker__year-wrapper {
  display: flex;
  justify-content: center;
    margin: 20px 0;
}

.datepicker__year, .datepicker__month > div {
  background-color: #6C63FF;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
}